@font-face {
    font-family: "Cooper";
    src: url("/css/Cooper Std Black.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    display: block;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: inherit;
    width: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-image: url(/img/JJPPBackground.jpg);
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: repeat-x;
}

main {
    width: inherit;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(120, 47, 127, 0.5), rgba(120, 47, 127, 0.5)), url(/img/jjLandBackground.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
}

.vertical-spacer {
    width: 3px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9);
}

.nav-link {
    color: rgba(255, 255, 255, 0.9);
    word-wrap: normal;
    font-family: Cooper;
}

.link-animation {
    animation: rotateNav 1s;
    animation-timing-function: cubic-bezier(1, -1, 0.5, 1);
}

.active,
.nav-link:hover {
    color: rgb(180, 160, 182);
}

.navbar {
    z-index: 1;
    background-color: rgb(120, 47, 127, 0.6);
    height: inherit;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jj-nav-group {
    display: flex;
    height: inherit;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

.nav-container {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mNav {
    display: none;
}

.nav__toggle {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.15s linear;
    background: #EA5548;
}

.nav__toggle:hover,
.nav__toggle:focus {
    background: #b14137;
}

.menuicon {
    display: block;
    cursor: pointer;
    color: white;
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar,
.menuicon__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
}

.menuicon__bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
}

.menuicon__circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: 144.513262038;
    stroke-dasharray: 144.513262038;
}

.nav--clicked .menuicon {
    color: white;
    transform: rotate(180deg);
}

.nav--clicked .menuicon__circle {
    stroke-dashoffset: 0;
}

.nav--clicked .menuicon__bar:nth-child(1),
.nav--clicked .menuicon__bar:nth-child(4) {
    opacity: 0;
}

.nav--clicked .menuicon__bar:nth-child(2) {
    transform: rotate(45deg);
}

.nav--clicked .menuicon__bar:nth-child(3) {
    transform: rotate(-45deg);
}

.nav--clicked {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    background: #EA5548;
}

.nav-pane {
    display: none;
    border-radius: 12px;
    position: fixed;
    bottom: 70px;
    left: 100%;
    height: 3%;
    width: fit-content;
    background: #EA5548;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    transform: translateX(100%);
    transition: height 0.2s cubic-bezier(0, 1, 0.8, 1), transform 0.3s cubic-bezier(0, 1, 0.8, 1) 0.3s;
    overflow-y: hidden;
}

.nav--open {
    transform: translateX(-100%);
    height: 40%;
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1.5), height 0.2s cubic-bezier(0, 1, 0.8, 1) 0.3s;
}

.mob-nav-link {
    font-family: Cooper;
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    word-wrap: normal;
    text-decoration: none;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.nav-pane .mob-nav-link:nth-child(1) {
    transition: transform 0.2s;
    transform: translateY(400%);
    visibility: visible;
}

.nav--open .mob-nav-link {
    visibility: visible;
    border: 2px solid #EA5548;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.2), inset 0 -2px 3px rgba(0, 0, 0, 0.1), 0 0.5px 1px rgba(255, 255, 255, 0.1);
}

.nav--open .mob-nav-link:nth-child(1) {
    transition: transform 0.2s 0.4s;
    transform: translateY(0%);
    animation: mobLinkBg 0.45s 0.3s normal;
}

.nav--open .mob-nav-link:nth-child(2) {
    transition: visibility 0s 0.7s;
    animation: mobLinkBg 0.15s 0.7s normal;
}

.nav--open .mob-nav-link:nth-child(3) {
    transition: visibility 0s 0.8s;
    animation: mobLinkBg 0.15s 0.8s normal;
}

.nav--open .mob-nav-link:nth-child(4) {
    transition: visibility 0s 0.9s;
    animation: mobLinkBg 0.15s 0.9s normal;
}

.nav--open .mob-nav-link:nth-child(5) {
    transition: visibility 0s 1s;
    animation: mobLinkBg 0.15s 1.0s normal;
}

.active,
.mob-nav-link:hover {
    color: rgb(180, 160, 182);
}

.mob-nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav--open .mob-nav-link:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -1px 3px rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0, 0.2);
}

@media screen and (max-width: 575px) {
    .nav__toggle {
        display: inline-block;
    }

    .nav-pane {
        display: flex;
    }

    #mNav {
        display: contents;
    }

    footer {
        display: none;
    }

    main {
        height: 100%;
    }
}

@keyframes mobLinkBg {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes rotateNav {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}