<footer>  
    <nav>
        <div>   
            <div>
                <div>
                    <a href="/" id="nav1" >Home</a>
                    <div />
                    <a href="/menus" id="nav2">Menus</a>
                    <div />
                    <a href="#" id="nav3">Reviews</a>
                    <div />
                    <a href="#" id="nav4">About Us</a>
                    <div />
                    <a href="#" id="nav5">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>
</footer>