<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <main>
        <div>
            {{lat}} {{lng}}
            <img src="/img/jjLogo.png" height="50px" width="50px" loading="eager" alt="Business Logo" id="jjLogo">
            <div>
                WELCOME
            </div>
            <div>
                <div>
                    <i></i>
                    <a href="tel:01418480898" id="JJPhoneNumber">0141 848 0898</a>
                </div>
                <div>
                    <div>
                        <div>
                            <div>
                                Where to find us
                            </div>
                            <address>
                                16 Shuttle Street<br>Paisley<br>Pa1 1YD
                            </address>
                        </div>
                        <div>
                            <div>
                                Opening times
                            </div>
                            <div>
                                SUN - THURS<br>12:00 - 20:00<br>FRI - SAT<br>12:00 - 21:00
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>