<script type="module" src="/js/locScript.js"></script>
{{!container to apply size to map}}

<div id="map">
    {{!setting the api key and using the initMap callback from the map script}}
    <script id="gMap"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKgHc8KWCR-KLDCjZKQwnG_Z5TjxWmwIw&callback=initMap&v=weekly"
        defer></script>
</div>