<div class="nav-pane">
    <a href="/" id="mobilenav1" class="mob-nav-link">Home</a>
    <a href="/menus" id="mobilenav2" class="mob-nav-link">Menus</a>
    <a href="#" id="mobilenav3" class="mob-nav-link">Reviews</a>
    <a href="#" id="mobilenav4" class="mob-nav-link">About Us</a>
    <a href="#" id="mobilenav5" class="mob-nav-link">Contact Us</a>
</div>


<a class="nav__toggle" role="button" aria-expanded="false" id="nav-button">
    <svg class="menuicon" width="50px" height="50px" xmlns="http://www.w3.org/2000/svg">
        <g>
            <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5" />
            <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5" />
            <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5" />
            <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5" />
            <circle class="menuicon__circle" r="23" cx="25" cy="25" />
        </g>
    </svg>
</a>