@font-face {
    font-family: "Cooper";
    src: url("/css/Cooper Std Black.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    overflow: auto;
    height: 100%;
    display: block;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    display: block;
    line-height: 20px;
    font-family: 'Cooper';
    color: rgb(255, 255, 255, 1);
}

div {
    display: block;
}

footer {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 5%;
    background-image: url(/img/JJPPBackground.jpg);
    background-position: 50% 0%;
    background-size: auto;
    background-repeat: repeat-x;
}

main {
    width: 100%;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(120, 47, 127, 0.5), rgba(120, 47, 127, 0.5)), url(/img/jjLandBackground.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.vertical-spacer {
    width: 3px;
    height: 1.7vw;
    background-color: rgba(255, 255, 255, 0.9);
}

.nav-link {
    color: rgba(255, 255, 255, 0.9);
    word-wrap: normal;
}

.link-animation {
    animation: rotateNav 2s;
    animation-timing-function: cubic-bezier(0.2, -2, 0.8, 2);
}

.active,
.nav-link:hover {
    color: rgb(180, 160, 182);
}

.navbar {
    z-index: 1;
    background-color: rgb(120, 47, 127, 0.6);
    height: inherit;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jj-nav-group {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

.nav-container {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes rotateNav {
    from {
        opacity: 0;
        transform: rotateZ(0deg);

    }

    25% {
        opacity: 80%;
    }

    to {
        opacity: 1;
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: 575px) {
    footer {
        display: none;
    }

    main {
        height: 100%;
    }

}